<div class="card mb-3">
    <div class="card-header flex-column align-items-start">
        {% set form = hookable_metadata.context.form.digitalProductVariantSettings %}
        {% form_theme form '@SyliusDigitalProductPlugin/admin/shared/form_theme.html.twig' %}

        <h2 class="card-title d-flex align-items-center gap-2">
            {{ 'sylius_digital_product.ui.settings'|trans }}
            {{ form_row(form.enabled, sylius_test_form_attribute('override-channel-settings')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
        </h2>
        <p class="form-text mb-0 help-text">{{ 'sylius_digital_product.ui.settings_help'|trans }}</p>
    </div>
    <div class="card-body">
        <div class="row">
            {% hook 'settings' %}
        </div>
    </div>
</div>

