{% set product = hookable_metadata.context.resource %}

{% if product.isSimple %}
    <div class="tab-pane {% if hookable_metadata.configuration.active|default(false) %}show active{% endif %}" id="product-digital-section" role="tabpanel" tabindex="0">
        {% hook 'digital_product' %}
    </div>
{% endif %}
