<div class="g-col-12 card mb-3">
    <div class="card-header">
        <div class="card-title">{{ 'sylius_digital_product.ui.digital_product_settings.title'|trans }}</div>
    </div>

    <div class="card-body">
        <div class="row">
            {% hook 'digital_product_settings' %}
        </div>
    </div>
</div>
