{% set product = hookable_metadata.context.resource %}

{% if product.isSimple %}
    {% set digital_files_form = hookable_metadata.context.form.variant.digitalFiles %}
    {% form_theme digital_files_form '@SyliusDigitalProductPlugin/admin/shared/form_theme.html.twig' %}

    <div class="tab-pane {% if hookable_metadata.configuration.active|default(false) %}show active{% endif %}" id="product-digital-files" role="tabpanel" tabindex="0">
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="card-title">{{ 'sylius_digital_product.ui.digital_files'|trans }}</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    {{ form_row(digital_files_form, {label: false}) }}
                </div>
            </div>
            <div class="card-footer">
                {{ form_row(digital_files_form.vars.button_add) }}
            </div>
        </div>
    </div>
{% endif %}
