{% set form = this.form %}

<div data-controller="live">
    <div class="mb-3">
        {{ form_row(form.type, { attr: { 'data-model': 'type' } }) }}
    </div>

    {% if form.payload is defined %}
    <div class="mb-3">
    {{ form_row(form.payload) }}
        </div>
    {% endif %}
</div>
