{% set variant = hookable_metadata.context.variant %}
{% set channel = sylius.channel %}
{% set channel_settings = channel.digitalProductFileChannelSettings %}
{% set settings = variant.digitalProductVariantSettings %}
{% if settings is null or not settings.isEnabled %}
    {% set settings = channel_settings %}
{% endif %}

{% if settings is null or not settings.hiddenQuantity %}
    <div class="mb-4">
        {{ form_row(hookable_metadata.context.form.cartItem.quantity, sylius_test_form_attribute('quantity')) }}
    </div>
{% endif %}
