{% set order = hookable_metadata.context.order %}

{% if order.hasAnyDigitalFile %}
    <div class="table-responsive border-bottom mb-6" style="--bs-border-style: dashed">
        <table
            class="table table-borderless table-space align-middle mb-0" {{ sylius_test_html_attribute('order-table-digital-files') }}>
            {% hook 'table_digital_files' %}
        </table>
    </div>
{% endif %}
